<a href="https://colab.research.google.com/github/GulsahDurmaz/redi_fall2024_data_circle_twitter_project/blob/main/Data_Circle_US_Election_2020_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
trump_df = pd.read_csv(r"/content/sample_data/hashtag_donaldtrump.csv",lineterminator='\n')
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584581 entries, 0 to 584580
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            584581 non-null  object
 1   tweet_id              584581 non-null  float64
 2   tweet                 584581 non-null  object
 3   likes                 584581 non-null  float64
 4   retweet_count         584581 non-null  float64
 5   source                583904 non-null  object
 6   user_id               584581 non-null  float64
 7   user_name             584562 non-null  object
 8   user_screen_name      584581 non-null  object
 9   user_description      524830 non-null  object
 10  user_join_date        584580 non-null  object
 11  user_followers_count  584580 non-null  float64
 12  user_location         406070 non-null  object
 13  lat                   282128 non-null  float64
 14  long                  282128 non-null  float64
 15  city                  140655 non-null  object
 16  country               280438 non-null  object
 17  continent             280450 non-null  object
 18  state                 207474 non-null  object
 19  state_code            196456 non-null  object
 20  collected_at          584580 non-null  object
dtypes: float64(7), object(14)
memory usage: 93.7+ MB

In [6]:
trump_df = pd.read_csv(r"/content/sample_data/hashtag_joebiden.csv",lineterminator='\n')
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776886 entries, 0 to 776885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  object
 1   tweet_id              776886 non-null  float64
 2   tweet                 776886 non-null  object
 3   likes                 776886 non-null  float64
 4   retweet_count         776886 non-null  float64
 5   source                776173 non-null  object
 6   user_id               776886 non-null  float64
 7   user_name             776861 non-null  object
 8   user_screen_name      776886 non-null  object
 9   user_description      694877 non-null  object
 10  user_join_date        776886 non-null  object
 11  user_followers_count  776886 non-null  float64
 12  user_location         543092 non-null  object
 13  lat                   355293 non-null  float64
 14  long                  355293 non-null  float64
 15  city                  186872 non-null  object
 16  country               353779 non-null  object
 17  continent             353797 non-null  object
 18  state                 260195 non-null  object
 19  state_code            244609 non-null  object
 20  collected_at          776886 non-null  object
dtypes: float64(7), object(14)
memory usage: 124.5+ MB